html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  height: 80px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-header-container {
  position: absolute;
  display: flex;
  z-index: 1;
  margin-top: 100px;
}

#instruction {
  color: #B6FF00;
}

#score-broad {
  color: #B6FF00;
}

#start-header {
  display: flex;
  flex-direction: column;
}

.difficulty {
  display: flex;
  flex-direction: column;
}

#start-btn {
  /* border-radius: 50px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 100px;
  width: 300px;
  opacity: 1;
  background-color: #ffffff;
  border: 3px solid rgba(22, 76, 167, 0.6);
  font-family: fantasy; */
  background: none;
  border: none;
  text-align: center;
  font-size: 7em;
  font-family: 'Iceland', cursive;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

#start-btn:focus {
  outline: none;
}

#start-btn span {
  /* color: rgba(22, 76, 167, 1);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.7px; */
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color:whitesmoke;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#start-btn span:hover {
  /* color: rgba(22, 76, 167, 1);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.7px; */
  color: rgba(22, 76, 167, 1);
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

#score {
  /* color: #FF9900; */
  font-size: 40px;
  color: #FFFFFF;
  font-family: Audiowide;
}

/* .glow {
  animation: neon5 1s ease-in-out infinite alternate;
} */

/* @keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgba(22, 76, 167, 1), 0 0 70px rgba(22, 76, 167, 1), 0 0 80px rgba(22, 76, 167, 1), 0 0 100px rgba(22, 76, 167, 1), 0 0 150px rgba(22, 76, 167, 1);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(22, 76, 167, 1), 0 0 35px rgba(22, 76, 167, 1), 0 0 40px rgba(22, 76, 167, 1), 0 0 50px rgba(22, 76, 167, 1), 0 0 75px rgba(22, 76, 167, 1);
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
} */
/* #start-btn:hover {
  animation: rotate 0.7s ease-in-out both
}

#start-btn span:hover {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s
} */

#list {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
}

#music {
  float: right;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  text-transform: uppercase;
  height: 50px;
  width: 100px;
  opacity: 1;
  background: rgba(22, 76, 167, 1);
}

#music:focus {
  outline: none;
}

#music span {
  font-family: 'Iceland', cursive;
  color: white;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

canvas {
  /* background-color: aquamarine; */
  /* margin-top: 80px; */
  border: 2px solid yellowgreen;
  background-color: black;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.board-container {
  padding: 0;
  margin: 0;
  display: inline-block;
}

#user-input input {
  width: 100%;
  height: 20px;
  display:block;
  padding: 15px 0 15px 12px;
  font-weight: 400;
  background-color: black;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
  text-indent: 60px;
  transition: all .3s ease-in-out;
  position: relative;
  color:  #B6FF00; 
  font-size: 50px;
  font-family: 'Iceland', cursive;
  text-align: center;
}

#user-input input:focus {
  background: none;
  text-indent: 12px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
 }

 ::-webkit-input-placeholder {
   text-align: center;
}
